#map{
    width:100%;
    height:400px;
}

#marker__list li, #polyline__add li{
    position: relative;
    padding: 1em 2em;
    margin: 10px 0 10px 0;
    border-top: 2px solid #eee;
    background-image: -webkit-linear-gradient(top, whiteSmoke, #fcfcfc);
    text-align: -webkit-match-parent;
    height:auto;
    display: table;
    width: 100%;
    box-sizing: border-box;

}

#marker__list .marker__group-name,
#marker__list .marker__group-icon,
#marker__list .marker__group-action,
#marker__list .marker__group-title,
#marker__list .marker__group-windows,
#marker__list .marker__group-link,
#marker__list .marker__group-script,
#marker__list .marker__group-resize,
#marker__list .marker__group-animate,
.polylines__group{
    display: block;
    vertical-align: top;
    width: auto;
    box-sizing: border-box;
    margin-top: 30px;
    text-align: center;

}
#marker__list .marker__group-title,
#marker__list .marker__group-windows{
    height: 50px;
}


.marker__remove,
.marker__save,
.polylines__remove,
.polylines__save{
    float: right;
    margin: 0 7px 0 0 !important;
    position: relative;
}


.marker__input, .polylines__select-thick, .polylines__select-color{
    height: 28px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
    padding: 3px 5px;
    float: right;
    margin-right: 30%;
    width: 300px;
}

 .marker__select-action, .marker__select-animate, .marker__select-method, .marker__select-icon {
    float: right;
    margin-right:30%;
    width: 301px;
    border: 1px solid #ddd;
}

.marker__group-title img,
.marker__group-windows img,
.marker__group-animate img,
.marker__group-animate img,
.marker__download .img,
.marker__group-link img,
.marker__group-script img,
.marker__group-resize img,
.marker__select img{
    float: right;
    width: 11px;
    margin: 0 0 0 -50px;
    cursor: pointer;
}

#marker__list textarea
{
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
    padding: 3px 5px;
    float: right;
    margin-right: 30%;
    width: 300px;
}

.marker__group-title p, .marker__group-windows p{
    float: right;
    margin-right: 30%;
    margin-top: 0;
}

.no-active{display: none !important;}



.marker__download-icon{
    margin-left: 200px;
}


.marker__select{
    text-align: center;
}

.marker__width-text,
.marker__height-text{
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    background-color: #fff;
    color: #32373c;
    outline: 0;
    -webkit-transition: 50ms border-color ease-in-out;
    transition: 50ms border-color ease-in-out;
    padding: 3px 5px;
    width: 60px;
}
.marker__group-resize .marker__label-title{
    margin-left: 10px;
}

.marker__wrapper-resize{
    margin-left: 22%;
}

.center-map{
    margin: 10px;
}


.polylines__wrapper p{
    margin-top: 20px;
}

.polylines__wrapper .polylines-add,
.polylines__wrapper .polylines-save,
.polylines__wrapper .polylines-remove
{

}